<robot name="cube" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:property name="PI" value="3.1415926535897931" />
	<xacro:include filename="$(find robomax_description)/description/macros.xacro" />

    <link name="base"/>

    <link name="box_marker">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <xacro:box_inertia m="0.1" x="0.08" y="0.03" z="0.08" />
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.08 0.03 0.08" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.08 0.03 0.08" />
            </geometry>
        </collision>
    </link>

    <joint name="marker_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <parent link="base" />
        <child link="box_marker" />
    </joint>

    <gazebo reference="box_marker">
        <material>vrc/Tag1</material>
    </gazebo>

</robot>