<?xml version="1.0"?>

<robot name="robomax" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find robomax_description)/description/macros.xacro" />
	<xacro:include filename="$(find robomax_description)/description/kinect_camera.urdf.xacro" />
	

	<xacro:kinect_camera name="camera" parent="world">
		<origin xyz="0 0 2" rpy="0 ${pi/2.0} ${pi}"/>
	</xacro:kinect_camera>

	<link name ="world" />
</robot>
